@import "/src/less/_variables.less";

@row-height: 35px;
@row-height_expanded: 148px;
@row-padding: 8px;
@favicon-height: 20px;
@transition-time: 200ms;

.section-name {
  transition: filter @transition-time;
  user-select: none;
}

li.sortable-item {
  position: relative;
  top: 0;
  overflow: hidden;

  height: @row-height;
  margin: 6px auto;
  padding: @row-padding;


  border-radius: 10px;
  background-color: var(--L4);

  list-style-type: none;
  list-style-position: inside;

  transition: border @transition-time, height @transition-time,
  filter @transition-time;

  //Cursor
  cursor: default;


  &:hover.expanded {
    //border: solid 1px var(--P1);

  }

  .li-favicon {
    transform-origin: center;
  }

  .li-provider-name {
    transform-origin: left;
  }

  &.expanded {
    height: @row-height_expanded;
    cursor: default;
    background-color: var(--PA);
  }

  .li-header {
    width: 100%;
    display: flex;

    // Children
    > * {

      &.li-favicon {
        transition: left @transition-time, right @transition-time,
        transform @transition-time;
        height: @favicon-height;
        margin-right: 10px;
        user-select: none;
      }

      &.li-provider-name {
        transition: left @transition-time, right @transition-time,
        transform @transition-time;
        //position: relative;
        //bottom: 5px;
        //left: 8px;
        user-select: none;
        font-weight: 600;
        display: flex;
        flex-direction: column;

        width: fit-content;
        text-overflow: ellipsis;
        overflow: hidden;

        p {
          margin: 0;

          &:nth-of-type(1) {
            font-weight: 600;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 350px;
          }

          &:nth-of-type(2) {
            font-weight: 300;
          }
        }
      }

      &.li-button-group {
        flex: 1;
        display: flex;
        justify-content: end;


        .li-btn {
          //position: absolute;
          //right: 5px;
          //top: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          border-radius: 6px;
          aspect-ratio: 1 / 1;
          height: 24px;

          text-align: center;
          cursor: pointer;

          .icon {
            display: block;
            width: 12px;
            height: 12px;
          }

          &.on:not(.expanded) {
            background-color: @SuccessLight;

            svg {
              color: @Success
            }

            &:hover {
              background-color: var(--white);
              color: var(--P1);
            }
          }

          &.off:not(.expanded) {
            svg {
              color: var(--L1)
            }

            &:hover {
              background-color: var(--white);
              color: var(--P1);
            }
          }

          &:hover {
            background-color: var(--white);
            color: var(--P1);
          }
        }
      }
    }
  }
}

li.sortable-item form {
  text-align: right;
  font-size: 10pt;
  font-weight: 700;
  margin-top: 8px;

  > div {
    //width: unset;

    &:last-child {
      margin-block: 0;
    }
  }

  label {
    flex: 0.3;
    text-transform: uppercase;
    padding-right: 5px;
  }

  input {
    flex: 1;
    border: none;
    font-size: 10pt;
    outline: none;
    height: 18px;
    max-width: 360px;
    margin: 3px 10px;
    justify-self: right;
  }

  .btn {
    cursor: pointer;
    width: 76px;
    padding: 4px 3px !important;
    margin: 3px 10px;
    border-radius: 6px;
    border: @invisible-border;
    gap: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: @text-color;
    background: transparent;

    font-size: 10pt;

    .icon {
      font-size: 15px;
    }

    &.submitBtn.hasChanges {
      //background-color: white;
      font-weight: 700;
      // border-color: var(--A2);
      color: var(--A2);
      background-color: var(--L4);

      &:active {
        color: var(--A1);
      }
    }

    &:hover {
      background-color: var(--white);
      color: var(--P1);
    }

    &:active {
      color: var(--P2);
    }

    &.hidden {
      display: none;
    }
  }
}
