@import "/src/less/theme.less";
@import "/src/less/body.less";
@import "/src/less/_variables.less";


#time-out, #update {
  height: 100%;
  display: flex;
  flex-direction: column;

  > * {
    z-index: 2;
  }

  .ocs-header {
    background-color: #41516255;
    backdrop-filter: blur(3px);
    border-bottom: none;

    .options-icon {
      margin-left: auto;
    }
  }

  .rate-me {
    background-color: var(--bg);
    margin: 25px 25px 25px auto;
    border-radius: 10px;
    padding: 10px 15px;

    h1, h2, h3 {
      margin-block: 10px;
      color: white;

    }

    a {
      display: inline-flex;
      align-items: baseline;
      gap: 3px
    }

    img {
      height: 18px;
      width: 18px;
      align-self: self-start;
    }

  }

  &:has(.rate-me) {
    .content {
      margin-top: 10px;
    }
  }


  .content {
    display: flex;
    /* height: 100%; */
    width: fit-content;
    flex-direction: column;
    margin-block: 5%;
    margin-inline: 30px;
    align-self: center;
    align-items: center;
    background: #00000029;
    backdrop-filter: blur(17px);
    padding: 3%;
    border-radius: 33px;

    h1 {
      font-size: 28px;
      width: 450px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }

    p.url {
      width: 450px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: var(--P2);
      margin-top: 0;

      span:first-child {
        font-weight: 700;
        color: @text-color
      }


    }
  }

  .update-content {
    background: white;
    align-items: start;


    h1 {
      all: unset;
      font-size: 28px;
    }

    li {
      margin-top: 8px;
    }

    p, li, h1, h2, h3 {
      color: black;
    }

    > span:first-child {
      font-size: 100px;
      margin-inline: auto;

      svg {
        color: var(--A1a);
        @keyframes stop {
          from {
            transform: translateX(-200px) scale(0.9);
            opacity: 0
          }
          80% {
            transform: translateX(10px)
          }
          100% {
            transform: translateX(0px)
          }
        }
        animation: stop ease-in-out 1.2s;
      }
    }

    h1 strong {
      color: var(--P1)
    }

    h3, a {
      color: var(--P2)
    }
  }

  .hold-button-container {
    margin: 30px;
  }

  .hold-button {
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 30px;
    transition: 0.25s transform ease;

    &:active {
      transform: scale(0.95);
    }
  }

  .lottie-container {
    display: grid;
    grid-template-areas: 'main';
    justify-content: center;
    align-items: center;
    height: 116px;
    width: 116px;

    > * {
      grid-area: main;


      &:nth-child(1) {
        pointer-events: none;
      }

      &:nth-child(2) {
        z-index: 1;
        margin: auto;
      }
    }

    &:not(.unlock) {
      > div {
        transform: scaleX(-1);
      }

      path {
        stroke: white;
      }

      g > g > g > g:first-of-type > path:first-of-type {
        fill: transparent;
      }
    }

    &.unlock {

      @keyframes zoomOuter {
        from {
          transform: scale(0.9);
        }
        to {
          transform: scale(1)
        }
      }
      @keyframes zoomInner {
        from {
          background-color: var(--A1);
        }
        to {
          background-color: var(--P1);
        }
      }

      > div:first-child {
        border-radius: 50%;
        background-color: var(--P1);
        height: 90%;
        width: 90%;
        margin: auto;
        animation: zoomInner 0.25s ease-in;
      }

      animation: zoomOuter 0.25s ease-in;

      path {
        stroke: white;
      }
    }
  }

}